//MEDIA QUERY MANAGER

/* 

0 - 600 - Small
600 - 900px - Medium
900 - 1300px - Big
1300 - 1600px - Huge


    breakpoint argument choices:
    -Small
    -Medium
    -Big
    -Huge

    1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == medium {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == big {
    @media only screen and (max-width: 81.25em) {
      @content;
    }
  }
  // @if $breakpoint == huge {
  //   @media only screen and (max-width: 100em) {
  //     @content;
  //   }
  // }
}


@mixin dottedBorder($color, $orientation, $position, $spacing, $size) {
  background-position: $position;
  @if $orientation == horizontal {
    background-image: linear-gradient(to right, $color $size/$spacing * 100%, rgba(255,255,255,0) 0%);
    background-size: $spacing $size;
    background-repeat: repeat-x;
  }
  @else {
    background-image: linear-gradient($color $size/$spacing * 100%, rgba(255,255,255,0) 0%);
    background-size: $size $spacing;
    background-repeat: repeat-y;
  }
  .ie9 & {
    border-#{$position}:1px dotted $color;      
  }
}